{% extends 'home/base.html' %}


{% block content %}

<!-- The blog area starts here -->

<div class="container">
    <div class="col-md-12 heading-section ftco-animate">
        <h1 class="big">About Me</h1>
        <p>Am a Python developer, over the years i have found myself gathering Python pieces, trying to
            put them together to build awesome castel{software} that all men will want to live in(use).
        </p>
        <ul class="about-info mt-4 px-md-0 px-2">
            <li class="d-flex"><span><b>Name:</b></span> <span>Winner Emeto</span></li>
            <li class="d-flex"><span><b>Date of birth:</b></span> <span>July 20</span></li>
            <li class="d-flex"><span><b>Address:</b></span> <span>Imo State University Owerri,
                    Nigeria</span></li>
            <li class="d-flex"><span><b>Zip code:</b></span> <span>2345</span></li>
            <li class="d-flex"><span><b>Email:</b></span> <span>emetowinner@gmail.com</span></li>
            <li class="d-flex"><span><b>Phone:</b></span> <span>+234-803-0645-528</span></li>
        </ul>
    </div>
</div>
<!-- The blog area starts here-->


{% endblock content %}